## Author
Daniel Saed Ibarra Maldonado|

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
- Learn how to create markdowns
- List popular languages for Data Science
- List of commonly used libraries used by Data Scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Tensowflow
3. Scikit-learn
4. Pytorch
5. Pandas
6. Numpy


| Data Science Tools |  
| --- | 
| Spark | 
| Hadoop | 
| Tensorflow | 
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
1 + 1

2

In [3]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335